{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <h2>Wiki</h2>
                <form action="{% url 'search' %}" method="get">
                    <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
                    <input type="submit" hidden>
                </form>
                <div>
                    <a href="{% url 'index' %}">Home</a>
                </div>
                <div>
                    <a href="{% url 'create' %}">Create New Page</a>
                </div>
                <div>
                    <a href="{% url 'random' %}">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                <!-- Automatically displays message if a message variable is passed from app -->
                {% if message %}
                    {% block message %}
                        <div class="alert alert-warning" role="alert">
                                {{ message }}
                        </div>
                    {% endblock %}
                {% endif %}
                <!-- end message -->
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>